@import '../vendor/semantic.min.css';

html{
    overflow: hidden;
}
body{
    color: #030A03;
    background: #fefefe;
    overflow: hidden;
}

.hide{
    display: none !important;
}

.spin {
    animation: rotation 2s infinite linear;
}

.circle.notch{
    height: 17px;
    width: 22px;
}

.cui.select.icon{
    position: relative;

    select{
        text-indent: 24px;
    }

    i{
        position: absolute;
        left: 13px;
        z-index: 1;
        top: 10px;
        opacity: 0.5;
        color: rgba(0,0,0,0.87);
    }
}
 
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}