@import '../vendor/semantic.min.css';

html{
    overflow: hidden;
}
body{
    color: #030A03;
    background: #fefefe;
    overflow: hidden;
}

.hide{
    display: none !important;
}

.spin {
    animation: rotation 2s infinite linear;
}

.circle.notch{
    height: 17px;
    width: 22px;
}

.cui.select.icon{
    position: relative;

    select{
        text-indent: 24px;
    }

    i{
        position: absolute;
        left: 13px;
        z-index: 1;
        top: 10px;
        opacity: 0.5;
        color: rgba(0,0,0,0.87);
    }
}

.cui.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;

        &.vertical {
            flex-direction: column;
        }

        &.main {
            height: 100%;
            // height: calc(100% - 32px);
        }
    }

    .sidebar {
        display: flex;
        flex-direction: column;

        height: 100%;
        min-width: 250px;
        max-width: 250px;
        border-right: 1px solid #030A03;
    }

    .tab-switcher {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: hidden;

        .tabs {
            height: 100%;
            overflow: hidden;
    
            .tab {
                display: flex;
                flex-direction: column;
                height: 100%;
                overflow: auto;
            }
        }

        .buttons{
            margin-top: auto;
            display: flex;
    
            .tab-button {
                padding: 8px;
                text-align: center;
    
                background-color: #eee;
    
                &:first-child {
                    box-shadow: inset -3px 3px 3px -3px;
                    border-top: 1px solid #000;
                    border-right: 1px solid #000;
                }
    
                flex-grow: 1;

                &:last-child {
                    box-shadow: inset 3px 3px 3px -3px;
                    border-top: 1px solid #000;
                    border-left: 1px solid #000;
                }
    
                &:hover {
                    cursor: pointer;
                    background-color: #dadada;
                }
    
                &.active {
                    box-shadow: none;
                    border: none;
                    background-color: #fefefe;
    
                    &:hover {
                        cursor: default;
                    }
                }
            }
        }
    }
}
 
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}